.githubRibbon {
	position: absolute;
	top: 0;
	right: 0;
}


#mainPanel {
	font-family: sans-serif;
	width: 50em;
	margin: auto;
}

.sectionTitle {
	font-size: 100%;
	margin: 0.5em 0 0.2em 0;
}

.field {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 25em;
}

.fieldLabel {
	display: inline-block;
	width: 12em;

	margin-right: 0.5em;

	font-size: 60%;
	text-align: right;
}

.fieldWidget {
	flex-grow: 1;
}

.slider {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sliderNumber {
	width: 5em;
}

.sliderRange {
	flex-grow: 1;
}
